// Run the below to compile SASS
// sass [--watch] res/sass/_style.scss:src/App.css
// This is where all the override styles for Bulma will be done
@charset "utf-8";
@import "variables"; //import variables before bulma to overide any colours
@import "../../node_modules/bulma/bulma.sass";
@import "fonts";

/* Selctor rule for all css: */
/* *{
  font-size: 16px;
} */
/* Css for the 'pages' */
* {
    font-family: 'Balthazar', serif;
}
.title, h1, h2, h3, h4, h5, h6, .subtitle {
    font-family: 'Orbitron', sans-serif;
}
nav{
    height: 10vh;
}

.page{
    /* Make the page take up majority of the screen */
    position: absolute;
    width: 100vw;
    height: auto;
    top: 10vh;
}

main{
    @include center(row);
    // stop the horizontal from showing overflow
    // overflow-x: hidden; //try again later
}