// Run the below to compile SASS
// sass [--watch] res/sass/_style.scss:src/App.css
// This is where all the override styles for Bulma will be done
@charset "utf-8";
@import "variables"; //import variables before bulma to overide any colours
@import "../../node_modules/bulma/bulma.sass";
@import "fonts";

/* Selctor rule for all css: */
/* *{
  font-size: 16px;
} */
/* Css for the 'pages' */
* {
    font-family: 'Balthazar', serif;
}
.title, h1, h2, h3, h4, h5, h6, .subtitle {
    font-family: 'Orbitron', sans-serif;
    color: $dark-shade;
}
nav{
    height: 10vh;
}

.page{
    /* Make the page take up majority of the screen */
    position: absolute;
    width: 100vw;
    height: auto;
    top: 10vh;
}

main, .userDetails{
    // @include center(row);
    // stop the horizontal from showing overflow
    // overflow-x: hidden; //try again later

    display: flex;
    flex-flow: row wrap;

    //selector for the cards inside
    // at tablet breakpoint they should take up 40vw
    // and at desktop breakpoint they should take up 70vw
    .card{
        // since it is mobile first we will start off with each card taking up 
        // 70% of the view width
        min-width: 70vw;
        max-width: 70vw;
        height: auto;

        //full HD  view
        @media(min-width: $widescreen-breakpoint + 1px){
            min-width: 30vw;
            max-width: 30vw;
        }

        //widescreen view
        @media(min-width: $desktop-breakpoint + 1px) and (max-width: $widescreen-breakpoint){
            min-width: 23vw;
            max-width: 23vw;
            min-height: 325px;
        }
        //desktop view
        @media(min-width: $tablet-breakpoint + 1px) and (max-width: $desktop-breakpoint){
            min-width: 30vw;
            max-width: 30vw;
        }

        //tablet view
        @media (max-width: $tablet-breakpoint) and (min-width: $mobile-breakpoint) {
            min-width: 40vw;
            max-width: 40vw;
        }
    }

}

//header selector for the titles of each '.page'
header{
    padding-top: 1rem;
}