// chosen using: Google MAterial IO Colour Tool
// Kept over from HTML5 Weather App - CloudWatchR
// $light-shade: #7ff8ff; 
// $light-accent: #f2f2f2;
// $brand-colour: #41c5e2;
// $dark-shade: #0094b0;
// $dark-accent: #bfbfbf;
// $font-colour: #212121;

// Colours taken from colormind.io/bootstrap
$brand-colour: 	#A996DA;
$dark-accent: 	#88B4A4;
$dark-shade: 	#134D6D;
$light-accent: 	#B6DE70;
$light-shade: 	#FAF9FA;

//breakpoitns needed for media queries
$mobile-breakpoint: 768px;
$tablet-breakpoint: 1023px;
$desktop-breakpoint: 1216px;
$widescreen-breakpoint: 1408px;


//testing ovveriding bulma colours:
// (After testing) determined these are the main bulma elements that 
// colours should be changed for
$body-background-color: $light-shade;
$navbar-background-color: $brand-colour;
$navbar-item-hover-background-color: $light-accent;
// $modal-background-color: $light-shade;
$box-background-color: $light-shade;
$card-background-color: $brand-colour;
$button-background-color: $light-shade;
